# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db